input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
  }
  
  .simple-keyboard {
    max-width: 100%;
  }
  
  /*
    Theme: myTheme1
  */
  .simple-keyboard.myTheme1 {
    background-color: #eaeaea;
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .simple-keyboard.myTheme1 .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
  }
  
  .simple-keyboard.myTheme1 .hg-button:active {
    background: #1c4995;
    color: black;
  }
  
  #root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
    background: #1c4995;
  }
  