input {
    width: 100%;
    height: 100px;
    padding: 20px;
    font-size: 20px;
    border: none;
    box-sizing: border-box;
  }
  

  @media screen and (min-width:1000px) {
    .simple-keyboard {
      max-width: 100%;
    }
  }

  @media screen and (min-width:1700px) and (max-width:2500px),screen and (min-device-width:1700px) and (max-device-width:2500px) {
    .simple-keyboard {
      max-width: 100%;
    }
  }

/* terminalList */

.terminal:hover{
  background-color: #e8f0fd;
}

/* end */

/* errorlogin */

.item:hover{
  background-color: #e8f0fd;
}

/* end */

  
  /*
    Theme: myTheme1
  */
  .simple-keyboard.myTheme1 {
    border-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  
  .simple-keyboard.myTheme1 .hg-button {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
  }
  
  .simple-keyboard.myTheme1 .hg-button:active {
    background: #1c4995;
    color: black;
  }
  
  #root .simple-keyboard.myTheme1 + .simple-keyboard-preview {
    background: #1c4995;
  }

  /*
Menu ıtems css
  */


.scrollDiv{
  width: 280px;
  height: 550px;
  background-color: #c5ffc4;
  overflow:auto;
}

.content{
  height: 600px;
  background-color: #c5ffc4;
}

.element{
  border:1px solid black;
  padding: 0.6em;
  font-weight: bold;
  font-size: 16px;
}

.element:hover{
  cursor:pointer;
}

.direction{
  width: 110px;
  background-color: #c5ffc4;
  height: 80px;
}

.rdi-button{
  width: 110px;
  height: 40px;
  display: flex;
  justify-content: center;
  border:0.8px solid black;
  text-align: center;
  background-color: #c5ffc4;
  padding: 0.5em;
}

/* large font css */
.data{
  display: flex;
  justify-content: center;
}

.header-data{
  width: 95%;
  background-color: white;
}

.center{
  display: flex;
  justify-content: center;
}

@media screen and (min-width:1000px) {
  .container{
      height: 400px;
      width: 100%;
      display: grid;
      grid-template-columns: 80% auto;
  }

  h1{
      font-weight: bold;
      font-size: 120px;
      height: 280px;
  }
  .title{
      height: 400px;
      display: flex;
      justify-content: center;
  }
  .bottom{
      width: 100%;
      display: grid;
      grid-template-columns: 45% auto;
  }
  
  .bottom span {
      font-weight: bold;
      font-size: 27px;
  }
  
}

@media screen and (min-width:750px) and (max-width:1000px),screen and (min-device-width:750px) and (max-device-width:1000px) {

  .container{
      height: 400px;
      width: 95%;
      display: grid;
      grid-template-columns: 70% auto;
  }

  h1{
      font-weight: bold;
      font-size: 100px;
      height: 280px;
  }
  .title{
      height: 400px;
      display: flex;
      justify-content: center;
  }
  .bottom{
      width: 100%;
      display: grid;
      grid-template-columns: 60% auto;
  }
  
  .bottom span {
      font-weight: bold;
      font-size: 24px;
  }
  
}

@media screen and (min-width:700px) and (max-width:750px),screen and (min-device-width:600px) and (max-device-width:700px) {

  .container{
      height: 300px;
      width: 95%;
      display: grid;
      grid-template-columns: 70% auto;
  }

  h1{
      font-weight: bold;
      font-size: 70px;
      height: 280px;
  }
  .title{
      height: 400px;
      display: flex;
      justify-content: center;
  }

  .bottom{
      width: 100%;
      display: grid;
      grid-template-columns: 60% auto;
  }
  
  .bottom span {
      font-weight: bold;
      font-size: 24px;
  }

}

@media screen and (max-width:700px),screen and (max-device-width:700px) {

  .container{
      height: 200px;
      width: 95%;
      display: grid;
  }

  h1{
      font-weight: bold;
      font-size: 70px;
      height: 280px;
  }
  .title{
      height: 250px;
      display: flex;
      justify-content: center;
  }

  .bottom{
      width: 100%;
      display: flex;
      margin-top: 22rem;
      justify-content: center;
  }
  
  .bottom span {
      font-weight: bold;
      font-size: 24px;
  }

}


.search.center{
  display: flex;
  justify-content: center;
  width: 98%;
}

.search{
  height:250px;
  width: 100%;
  left: 79.2%;
  margin-top: 1em;
  border:1px solid #b5e8b7;
  border-radius: 8px;
}

.btn-hata{
  display: flex;
  justify-content: center;
}

.btn-data button{
  color:white;
}

.container button:nth-child(1){
  width: 95%;
  height: 60px;
  margin-top: 0.5em;
  border-radius: 8px;
  background-color: #d41a23;
}

h1 span{
  display: flex;
  justify-content: center;
}

/* end */

/* entrance */
@media screen and (min-width:2500px) and (max-width:3000px),screen and (min-device-width:2500px) and (max-device-width:3000px) {
  .txt-field{
    width: 1100px;
  }
  .txt{
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.6rem;
  }
  .bkg{
    width: 1120px !important;
  }
  .list{
    margin-left: 3.7em !important;
  }
  .txt-vardiya{
    margin-left: 15em !important;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.6em;
  }
  .txt-tarih{
    font-size:28px;
    font-weight: bold;
    margin-top: 0.6em;
  }
}

@media screen and (min-width:2200px) and (max-width:2500px),screen and (min-device-width:2200px) and (max-device-width:2800px) {
  .txt-field{
    width: 900px;
  }
  .txt{
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.6rem;
  }
  .bkg{
    width: 1120px !important;
  }
  .list{
    margin-left: 3.7em !important;
  }
  .txt-vardiya{
    margin-left: 15em !important;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.6em;
  }
  .txt-tarih{
    font-size:28px;
    font-weight: bold;
    margin-top: 0.6em;
  }
}

@media screen and (min-width:1700px) and (max-width:2200px),screen and (min-device-width:600px) and (max-device-width:900px) {
  .txt-field{
    width: 700px;
  }
  .txt{
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.7rem;
  }
  .bkg{
    width: 900px !important;
  }
  .list{
    margin-left: 4em !important;
  }
  .txt-vardiya{
    margin-left: 8em !important;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.6em;
  }
  .txt-tarih{
    font-size:28px;
    font-weight: bold;
    margin-top: 0.6em;
  }
}


@media screen and (min-width:1200px) and (max-width:1700px),screen and (min-device-width:1200px) and (max-device-width:1700px) {
  .txt-field{
    width: 550px;
  }
  .txt{
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
  }
  .bkg{
    width: 690px !important;
  }
  .list{
    margin-left: 8em !important;
    margin-top: 0.7em !important;
  }
  .txt-vardiya{
    margin-left: 2em !important;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.5em;
  }
  .txt-tarih{
    font-size:18px;
    font-weight: bold;
    margin-top: 1.5em;
  }
}

@media screen and (min-width:900px) and (max-width:1200px),screen and (min-device-width:900px) and (max-device-width:1200px) {
  .txt-field{
    width: 400px;
  }
  .txt{
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
  }
  .bkg{
    width: 500px !important;
  }
  .list{
    margin-left: 1em !important;
  }
  .txt-vardiya{
    margin-left: 0.3em !important;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.5em;
  }
  .txt-tarih{
    font-size:18px;
    font-weight: bold;
    margin-top: 1.5em;
  }
}

@media screen and (min-width:600px) and (max-width:900px),screen and (min-device-width:600px) and (max-device-width:900px) {
  .txt-field{
    width: 360px;
    size: small !important;
  }
  .txt{
    font-size: 18px;
    font-weight: bold;
    margin-top: 1rem;
  }
  .bkg{
    width: 480px !important;
  }
  .list{
    margin-left: 1.3em !important;
  }
  .txt-vardiya{
    margin-left: 0.3em !important;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.2em;
  }
  .txt-tarih{
    font-size:18px;
    font-weight: bold;
    margin-top: 1.2em;
  }
  .select{
    size: small !important;
  }
}

@media screen and (max-width:700px),screen and (max-device-width:700px) {
  .txt-field{
    width: 340px;
  }
  .txt{
    font-size: 18px;
    font-weight: bold;
    margin-top: 0.6rem;
  }
  .bkg{
    width: 470px !important;
  }
  .list{
    margin-left: 1em !important; 
    size: small ;
  }
  .txt-vardiya{
    margin-left: 0.3em !important;
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.2em;
  }
  .txt-tarih{
    font-size:18px;
    font-weight: bold;
    margin-top: 1em;
  }
}

/* end */

/* error login */

@media screen and (min-width:1400px) and (max-width:2800px),screen and (min-device-width:1400px) and (max-device-width:2800px) {
  .pic{
    width: 1500px !important;
    display: flex;
    justify-content: center;
  }
  /* .pic2{
    width: 100% !important;
    height: auto !important;
  } */
}


/* end */

/* errorlist */

@media screen and (min-width:0px) and (max-width:1600px),screen and (min-device-width:0px) and (max-device-width:1600px) {
  .bt1{
    width: 500px !important;
  }
  .bt2{
    width: 120px;
  }
  .bt3{
    width: 1000px !important;
  }
  .bt4{
    width: 1630px !important;
  }
}

@media screen and (min-width:1600px) and (max-width:2800px),screen and (min-device-width:1600px) and (max-device-width:2800px) {
  .bt1{
    width: 700px !important;
  }
  .bt2{
    width: 150px !important; 
  }
  .bt3{
    width: 1200px !important;
  }
  .bt4{
    width: 1860px !important;
  }
}



/* end */


@media screen and (min-width:900px) and (max-width:2800px),screen and (min-device-width:900px) and (max-device-width:2800px) {
  .line{
  visibility: hidden;
  }
  .line2{
    visibility: visible;
  }
}

@media screen and (min-width:0px) and (max-width:900px),screen and (min-device-width:0px) and (max-device-width:900px) {
  .line2{
    visibility: hidden;
  }
  .line{
    visibility: visible;
  }
}

/* table */
html {
  font-family: sans-serif;
  font-size: 14px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: arial, sans-serif;
  table-layout: fixed;
  width: 100%;
  height: 1200px;
}

thead {
  background:#c6ffc7 ;
  margin: 0;
  position: sticky;
  top: 0;
}

thead tr th{
  border:1px solid black;
  justify-content: center;
  text-align: center;
}

tbody tr td{
  text-align: center;
  border: 0.8px solid black;
}

th {
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding: 2px 4px;
  text-align: left;
}

td {
  padding: 6px;
}

.container {
  border: 1px solid lightgray;
  height: 500px;
  max-width: 1600px !important;
  height: 100%;
  overflow: auto;
}

.all{
  height: 100%;
}

.all2{
  height: 100%;
}


  