
.scrollDiv{
    width: 280px;
    height: 490px;
    background-color: #c5ffc4;
    overflow:auto;
    position: absolute;
}

.content{
    height: 600px;
    background-color: #c5ffc4;
}

.element{
    border:1px solid black;
    padding: 0.6em;
    font-weight: bold;
    font-size: 16px;
}

.direction{
    width: 110px;
    background-color: #c5ffc4;
    height: 80px;
}

.rdi-button{
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: center;
    border:0.8px solid black;
    text-align: center;
    background-color: #c5ffc4;

    padding: 0.5em;
}

